.text-color1{color: #f5cac2;}
.color0{
    background-color: #ed7966;
}
.color1{
    background-color: #f5cac2;
}
.color2{
    background-color: #000010;
}
body{
    color: black;
}
.mario{
    background: url(../../assets/gif/mario-wide.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
