.color0{
    background-color: #697a86;
}
.color1{
    background-color: #344046;
}
.color2{
    background-color: #161c22;
}
.mario{
    background: url(../../assets/gif/mario-wide.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
