/* :root{
    --color0:#17b794;
    --color1:#0d7377;
    --color2:#161c22;
}
.color0{color: whitesmoke;background-color: var(--color0);}
.color1{color: whitesmoke;background-color: var(--color1);}
.color2{color: whitesmoke;background-color: var(--color2);}

body{color: whitesmoke;background-color: rgb(80, 80, 35);}

a{color: aqua;}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text 
{color: green;}

.accordion-button.collapsed {background: #0d7377;} */
*{
  color: black;
}
#customNavbar {
    top: 0;
    font-weight: bold;
    transition: 0.4s;
    background-color: #abd4f8;
    opacity: 0.7;
  }
  #customNavbar:hover {
    color: black;
    opacity: 0.9; 
  }
  #customNavbar a:hover {
    background-color: #c8e4f0;
    color: black;
  }
  #customNavbar a.active {
    background-color: dodgerblue;
    color: white;
  }
/* VISITED -> FOCUS -> HOVER -> ACTIVE */
/* .nav-item > a #text{background-color:var(--color1);} */
/* .nav .nav-link:visited{background-color: var(--color1);}
.nav .nav-link:focus{background-color: var(--color0);}
.nav .nav-link:active{background-color: var(--color1);} */
