:root{
  --color0:#5B5FA6;
  --color1:#599DD9;
  --anchorcolor:#413B59;
  --bgcolor:url("../../assets/photos/Wallpaper/journey.jpg");
}

a{
  color: var(--anchorcolor);
}

.text-color0{color: var(--color0);}
.text-color1{color: var(--color1);}
.text-color2{color: var(--color2);}
.text-color-main{color: var(--anchorcolor);}

.color0{background: var(--color0);}
.color1{background: var(--color1);}
.color2{background: var(--color2);}

.bgcolor{background: var(--bgcolor) repeat fixed 100%;}

body{background-color: rgb(80, 80, 35);}

/* 👇holy shit I am a geneus 👇 */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{background-color: var(--color0);}
/* 👆See this Jugaad 👆 */

#customNavbar {
    top: 0;
    font-weight: bold;
    transition: 0.4s;
    background-color: var(--color0);
    opacity: 0.7;
  }

  #customNavbar:hover {
    opacity: 0.9; 
  }
  #customNavbar a:hover {
    background-color: var(--color1);
    color: black;
  }
  .timelineContainer:hover{
    background-color: var(--color0);
    animation: fadetimelinecontainer 2s forwards;
  }
.timelineContainer{
  animation: fadeOuttimelinecontainer 2s forwards;
}
  @keyframes fadetimelinecontainer {
    from {background-color: var(--color1);}
    to {background-color: var(--color0);}
  }
  @keyframes fadeOuttimelinecontainer {
    from {background-color: var(--color0);}
    to {background-color: var(--color1);}
  }

  /*Contacts section stuff*/
.cv-button{
  background-color: var(--color1);
}
.cv-button:hover{
  background-color: var(--color0);
}
.cv-button:focus{
  background-color: var(--color0);
  opacity: 0.9;
}
/* Progress Indicator : Light Theme */
.header {
  background-color:whitesmoke;
}

/* The progress container (grey background) */
.progress-container {
  background: var(--color1);
}

/* The progress bar (scroll indicator) */
.progress-bar {
  background: var(--color0);
}