@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html {
  scroll-behavior: smooth;
}

body{
    /* --demovar :#ffffff; */
    font-family: 'Itim', cursive;
    font-style: normal;
    font-variant: normal;
}
#smallicon{
	font-size:15px;
	margin:0px 0px;
	margin: 0px 10px;
    }
.mypicture-container {
    position: relative;
    width: 100%;
    max-width:410px;
    height: auto;
    margin: 20px auto;
    }
.mypicture {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 20px 20px 20px 20px;
    }
.main-font-header{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    border-bottom: 4px solid whitesmoke;
    margin-bottom: 10px;
}
.main-font-header2{
    font-family: 'Amatic SC', cursive;
}
.main-font-subtext{
    margin-top: -14px;
    padding-top: 0px;
    font-family: 'Amatic SC', cursive;
    font-size: 44px;
}
/* Meter.css */
meter{
    height: 20px;
}
meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
    background: #86CC00; /* Green */
    border-radius: 3px;
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A; /* Yellow */
    border-radius: 3px;
}

meter::-webkit-meter-even-less-good-value {
    background: #CC4600; /* Red */
    border-radius: 3px;
}
/* TimeLine.css */
/*Credit for timeline : https://codeconvey.com/simple-horizontal-timeline-css/*/
.timeline {
  width:800px;
  height: 20px;
  list-style: none;
  text-align: justify;
  margin: 80px auto;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}
.timeline:after {
  display: inline-block;
  content: "";
  width: 100%;
}
.timeline li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #F2BB13;
  text-align: center;
  line-height: 1.2;
  position: relative;
  border-radius: 50%;
}
.timeline li:before {
  display: inline-block;
  content: attr(data-year);
  font-size: 26px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline li:nth-child(odd):before {
  top: -40px;
}
.timeline li:nth-child(even):before {
  bottom: -40px;
}
.timeline li:after {
  display: inline-block;
  content: attr(data-text);
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline li:nth-child(odd):after {
  bottom: 0;
  margin-bottom: -10px;
  transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
  top: 0;
  margin-top: -10px;
  transform: translate(-50%, -100%);
}
.timelineContainer{
  border:5px solid black;
  padding: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 10px;
}

/* Navbar.css */
#icon{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
  }
  .sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

  .sticky + .content {
    padding-top: 60px;
  }
  @media screen  and (max-width: 767px){
    #customNavbar{
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .websiteName{
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      margin-bottom: 5px;
    }
  }
  @media screen and (min-width: 891px){
    #icon{
      font-size: 100px;
    }
  }
  @media screen and (max-width: 890px){
    #icon{
      font-size: 50px;
    }
  }
/* ======================================================================================== */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  border-radius: 0 0 5px 5px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  width: 0%;
  border-radius: 0 0 5px 5px;
}
/*Flexbox Course Item*/
.course-item{
  
}
.course-item:hover{
  transform: scale(1.1);
}
/* ======================================================================================== */
/* CodeWars.css */
.codewars{
    src: url("https://www.codewars.com/users/Shalnarkus/badges/micro");
  }
.codewars:hover {
    src: url("https://www.codewars.com/users/Shalnarkus/badges/large");
  }
/* Course Icons css */
.course-icon{
  height: 70px;
  width: 70px;
  margin-top: -10px;
  margin-bottom: 10px;
}
/* Mario Block css */
.mario{
    background: url(../../assets/gif/mario-wide.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Media Queries */
@media screen and (min-width: 576px) {
    .display-2{
        size: 44px;
    }   
}