#icon{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
  }
  .sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

  .sticky + .content {
    padding-top: 60px;
  }
  @media screen  and (max-width: 767px){
    #customNavbar{
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .websiteName{
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      margin-bottom: 5px;
    }
  }
  @media screen and (min-width: 891px){
    #icon{
      font-size: 100px;
    }
  }
  @media screen and (max-width: 890px){
    #icon{
      font-size: 50px;
    }
  }