#customNavbar {
  top: 0;
  font-weight: bold;
  transition: 0.4s;
  background-color: #0d7377;
  opacity: 0.7;
}
#customNavbar:hover {
  color: whitesmoke;
  opacity: 0.9;
}
#customNavbar a:hover {
  background-color: #17b794;
  color: black;
}
#customNavbar a.active {
  background-color: dodgerblue;
  color: white;
}