#customNavbar {
  top: 0;
  font-weight: bold;
  transition: 0.4s;
  background-color: #abd4f8;
  opacity: 0.7;
}
#customNavbar:hover {
  color: black;
  opacity: 0.9; 
}
#customNavbar a:hover {
  background-color: #c8e4f0;
  color: black;
}
#customNavbar a.active {
  background-color: dodgerblue;
  color: white;
}