#customNavbar {
  top: 0;
  font-weight: bold;
  transition: 0.4s;
  background-color: #ed7966;
  opacity: 0.7;
}
#customNavbar:hover {
  opacity: 0.9;
}
#customNavbar a:hover {
  background-color: #f5cac2;
  color: black;
}
/* #customNavbar a.active {
  background-color: dodgerblue;
  color: white;
} */